<p id="notice"><%= notice %></p>
<div>
	<div>board.id :<%=@board.id%></div>
	<div>board.name:<%=@board.name%></div>
	<div>拥有的帖子数量：<%=@board.posts.size%></div>
</div>
<%= link_to "back", :action => "index" %>


<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<th>id</th>
		<th>title</th>
		<th>content</th>
		<th>created time</th>
		<th>updated time</th>
	</tr>
	<% @posts.each do |post| %>
	<tr>
		<td><%=post.id%></td>
		<td><%=post.title%></td>
		<td><%=post.content%></td>
		<td><%=post.created_at%></td>
		<td><%=post.updated_at%></td>
		<td><%= link_to "show", board_post_path(@board,post) %></td>
		<% if post.user == current_user %>
		<td><%= link_to "edit", edit_board_post_path(@board,post) %></td>
		<td><%= link_to "destroy", board_post_path(@board,post), :confirm=>"Are you sure",:method=>'delete' %></td>
		<% end -%>
		
		<% if current_user && current_user.is_admin? %>
		<td><%= link_to "A-edit", edit_admin_board_post_path(@board,post) %></td>
		<td><%= link_to "A-destroy", admin_board_post_path(@board,post), :confirm=>"Are you sure",:method=>'delete' %></td>
		<% end -%>
		
	</tr>
	<% end -%>
</table>
<%= paginate @posts %>
<%= link_to "new post", new_board_post_path(@board) %>
<% if current_user && current_user.is_admin? %>
<%= link_to "A-edit", edit_admin_board_path(@board) %>
<% end -%>
<%= link_to "back", boards_path %>
